.introduction {
  background-image: url("../img/fullscreen-slider.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
}
.row-container {
  width: 100%;
}
.container-intro {
}
.element {
  display: flex;
  flex: wrap;
  justify-content: center;
  padding: 14px 12px;
  padding-top: 22%;
  width: 80%;
  padding-left: 20%;
}
.search-form {
  display: flex;
  position: absolute;
}
.form-control {
  width: 468px;
  height: 50px;
}
.search-btn {
  height: 50px;
  width: 50px;
  background-color: #838c48;
}
.search-btn:hover {
  background-color: #1d1e19;
}
.heading-title {
  text-align: center;
  align-items: center;
  position: relative;
  padding-top: 8%;
  padding-left: 5%;
}
.h4-heading-title {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  font-size: 20px;
}
.viewallcourse {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  text-decoration: none;
}
.viewallcourse a {
  color: #838c48;
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.viewallcourse:hover {
  color: #1d1e19;
}
.chevron-icon {
  width: 30px;
  height: 30px;
}

.chevron-icon-img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.counter-section {
  padding: 50px 0;
}
.counter {
  text-align: center;
  padding: 20px;
  color: #000000;
}
.counter h1 {
  font-size: 48px;
  margin-bottom: 0;
  font-weight: bold;
}
.counter p {
  margin-top: 0;
}
.counter-line {
  height: 3px;
  width: 80px;
  background-color: #838c48;
  margin: 10px auto 20px;
}
@media (max-width: 768px) {
  /* Adjust for larger screens */
  .search-form {
    width: 70%;
  }
  .form-control {
    width: 80%;
  }
}

.search-btn {
  height: 50px;
  width: 50px;
  background-color: #838c48;
}

.search-btn:hover {
  background-color: #1d1e19;
}

.heading-title {
  text-align: center;
  margin-bottom: 2rem; /* Add spacing for smaller screens */
}

.h4-heading-title {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  font-size: 20px;
}

.viewallcourse {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically align elements */
}

.viewallcourse a {
  color: #838c48;
  font-size: 20px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.chevron-icon {
  margin-left: 1rem; /* Add spacing between link and icon */
  width: 20px;
  height: 20px;
}

.counter-section {
  padding-bottom: 50px;
}
.container-content {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
}

.logo-icon {
  width: 80px;
  height: 50px;
  justify-content: center;
  display: flex;
}
.logo-icon:hover {
  transform: scale(0.8);
  transition: 0.3s ease-in-out;
}
.content-icon-wrapper {
  width: 150px;
  height: 150px;
  background-color: #f5e9d4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.content-title {
  padding-top: 10%;
  font-weight: 500;
  color: #303030;
}

@media (min-width: 992px) {
  .heading-title {
    text-align: center;
    padding-top: 20%;
  }
  .counter-section {
    margin-top: 50px;
    padding: 100px 0;
  }
}
@media (min-width: 1300px) {
  .heading-title {
    text-align: center;
    padding-top: 10%;
  }
}

@media (max-width: 991px) {
  .heading-title {
    text-align: center;
    padding-top: 30%;
  }
}
@media (max-width: 576px) {
  .heading-title {
    text-align: center;
    padding-top: 40%;
  }

  .content-icon-wrapper {
    width: 70px;
    height: 70px;
    background-color: #f5e9d4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-icon {
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
  }
  .content-title-h5 {
    padding-top: 10%;
    font-weight: 300;
    color: #303030;
    font-size: 20px;
  }
  .container-couter {
    width: 50%;
  }
}
@media (max-width: 766px) {
  .container-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding-left: 20%;
    padding-top: 20%;
  }
  .content-title .h5 {
    padding-top: 10%;
    font-weight: 500;
    color: #303030;
    font-size: 15px;
  }
  .content-icon-wrapper {
    width: 150px;
    height: 150px;
    background-color: #f5e9d4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 325px) {
  .container-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding-left: 10%;
  }
  .content-title .h5 {
    padding-top: 10%;
    font-weight: 500;
    color: #303030;
    font-size: 10px;
  }
  .content-title .h5 {
    padding-top: 10%;
    font-weight: 600;
    color: #303030;
    font-size: 20px;
  }
  .content-icon-wrapper {
    width: 70px;
    height: 70px;
    background-color: #f5e9d4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .content-icon-wrapper {
    width: 100px;
    height: 100px;
  }
  .container-content {
    padding-top: 80%;
  }
  .counter-section {
    width: 70%;
  }
}
@media (max-width: 499px) {
  .content-icon-wrapper {
    width: 110px;
    height: 110px;
  }
  .container-content {
    padding-top: 50%;
  }
  .counter-section {
    width: 90%;
  }
  .counter-section {
  }
}
